<!-- TODO Later change the common to official maybe a difference? -->
<main>
  <h1>Flags Api</h1>

  <hr />
  <button class="btn">Previous page</button>
  <button class="btn">Next page</button>

  <article class="flags__table">
    <a href="#"> </a>
    <table id="table">
      <thead>
        <tr class="table__titles">
          <th>Official Name</th>

          <th>Capital</th>
          <th>Region</th>
          <th>Language</th>
          <th>Population</th>
          <th>Flag</th>
        </tr>
      </thead>

      <tbody id="contentTable">
        <tr>
          <!--This is in th (below) *ngFor="let country of countries | async" -->
          <th>
            <a
              href="https://en.wikipedia.org/api/rest_v1/page/summary/Afghanistan"
            >
              Mexico
            </a>
          </th>
          <th>Kabul</th>
          <th>Asia</th>
          <th style="word-break: break-word">Dari,Pashto,Turkmen</th>
          <th>40218234</th>
          <th>🇦🇫</th>
        </tr>
      </tbody>
    </table>

    <hr />

    <input
      type="text"
      placeholder="Search your country!"
      [formControl]="searchForm"
    />

    <ul>
      <li
        *ngFor="
          let country of (countries | async)! | searchCountry: searchForm.value
        "
      >
        {{ country.name.official }}
      </li>
    </ul>
  </article>
</main>
