<router-outlet></router-outlet>

<!-- TODO Later change the common to official maybe a difference? -->
<main>
  <h1>Flags Api</h1>
  <input
    type="text"
    placeholder="Search your country!"
    [formControl]="searchForm"
  />
  <button>Sort</button>
  <hr />
  <button class="btn" type="button">Previous page</button>

  <button class="btn" type="button">Next page</button>

  <article class="flags__table">
    <a href="#"> </a>
    <table id="table">
      <thead>
        <tr class="table__titles">
          <th>Official Name</th>
          <th>Capital</th>
          <th>Region</th>
          <th>Language</th>
          <th>Population</th>
          <th>Flag</th>
        </tr>
      </thead>

      <!-- Check if it has child elements -->

      <tbody id="contentTable">
        <tr
          *ngFor="
            let country of (countries | async)!
              | searchCountry: searchForm.value
              | sortingCountries
              | paginate: { itemsPerPage: 10, currentPage: 1 }
          "
        >
          <!--This is in th (below) *ngFor="let country of countries | async" -->
          <th>
            <a
              href="https://en.wikipedia.org/api/rest_v1/page/summary/Afghanistan"
            >
              {{ country.name.official }}
            </a>
          </th>
          <th>{{ country.capital }}</th>
          <th>{{ country.region }}</th>
          <!-- TODO Make it a string add later maybe use stringify -->
          <th style="word-break: break-word">
            {{ country.languages }}
          </th>
          <th>{{ country.population }}</th>
          <th>{{ country.flag }}</th>
        </tr>
      </tbody>
    </table>

    <hr />

    <!-- <ul>
      <li
        *ngFor="
          let country of (countries | async)! | searchCountry: searchForm.value
        "
      >
        {{ country.name.official }}
      </li>
      <li *ngFor="let country of countries | async">
        {{ country.name }}
      </li>
      <li *ngFor="let country of countries | async">
        {{ country.capital }}
      </li>
      <li *ngFor="let country of countries | async">
        {{ country.region }}
      </li>
      <li *ngFor="let country of countries | async">
        {{ country.languages }}
      </li>
      <li *ngFor="let country of countries | async">
        {{ country.population }}
      </li>
      <li *ngFor="let country of countries | async">
        {{ country.flags }}
      </li>
    </ul> -->
  </article>
</main>
