main {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  margin-bottom: 1.5em;
  margin-right: 0.5em;
  padding: 0.5em;
}

article {
  padding: 1em;
  background-color: aquamarine;
}

thead {
  color: white;
  background-color: #006699;

  th {
    padding: 0.5em;
    margin-bottom: 0.4em;
  }
}

tbody {
  border: 1px red solid;

  tr {
    border: 1px blue solid;
    background-color: #cccccc;
    th {
      padding: 1em;
    }
  }
}
